<%- include('partials/header.ejs') %>
    
    <main class="mainDashboard mb-5">
        <div class="sidebar">
            <input type="checkbox">
            <div class="hamburger">
                <span class="top-ham common"></span>
                <span class="middle-ham common"></span>
                <span class="bottom-ham common"></span>
            </div>
            <div class="menubar">
                <div>
                    <div></div>
                    <ul>
                        <li><a href=""><div class="listBorder"></div> <i class="fas fa-receipt"></i> Transactions</a></li>
                        <li><a href=""><div class="listBorder"></div> <i class="fas fa-plus"></i> Add new purchase</a></li>
                        <li><a href=""><div class="listBorder"></div> <i class="fas fa-eye"></i> View and Edit Stock</a></li>
                        <li><a href=""><div class="listBorder"></div> <i class="fas fa-refresh"></i> Return, Defects, Expired, Office Use</a></li>
                        <li><a href=""><div class="listBorder"></div> <i class="fas fa-comments-dollar"></i> Debt</a></li>
                        <li><a href=""><div class="listBorder"></div> <i class="far fa-clipboard"></i> Product Tracker</a></li>
                        <li><div class="dash-form-btn"> <div class="listBorder"></div> <i class="fas fa-user"></i> Edit and Add new Users</div></li>
                        <li><div class="dash-form-btn"> <div class="listBorder"></div> <i class="fas fa-dollar"></i> Daily Expenses</div></li>
                        <li><div class="dash-form-btn"> <div class="listBorder"></div> <i class="fas fa-children"></i> Add and Edit Customers</div></li>
                        <li><div class="dash-form-btn"> <div class="listBorder"></div> <i class="far fa-circle"></i> Add and Edit Units</div></li>
                        <li><div class="dash-form-btn"> <div class="listBorder"></div> <i class="fas fa-list"></i> Add and Edit Categories</div></li>
                        <li><div class="dash-form-btn"> <div class="listBorder"></div> <i class="fas fa-truck"></i> Add and Edit Suppliers</div></li>
                        <li><div class="dash-form-btn"> <div class="listBorder"></div> <i class="fas fa-building"></i> Add and Edit Companies</div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row bodyDiv justify-content-around">
            <div class="col-lg-4 col-sm-6">
                <div class="flash-message">
                    <p class="success-msg"><%= success_msg %></p>
                    <p class="failure-msg"><%= failure_msg %></p>
                </div>
                <div class="updateForms mb-4">
                    <div class="dashboardForm">
                        <h3 style="text-align: center;">Edit user</h3>
                        <div class="mb-4">
                            <% if(locals.users){ %>
                                <form class="" action="/editUser" method="post" id="editUserForm">
                                    <select class="form-control border-dark mb-2" name="userId" id="userEdit" required>
                                        <option hidden disabled selected value>(Select User)</option>
                                      <% users.forEach(user => { %>
                                        <option value="<%= user.id %>" >
                                          <%= user.username %>
                                        </option>
                                      <% }); %>
                                    </select>
                                    <input class="form-control border-dark mb-2" type="text" name="username" placeholder="Enter new username">
                                    <input class="form-control border-dark mb-2" type="text" name="password" placeholder="Enter new password">
                                    <select class="form-control border-dark mb-3" name="role" id="change-role" required>
                                        <option hidden disabled selected value>(Select Role)</option>
                                        <option value="sales">Sales Person</option>
                                        <option value="staff">Staff</option>
                                        <option value="manager">Manger</option>
                                        <option value="administrator">Administrator</option>
                                    </select>
                                    <button class="btn btn-success" type="submit">Update user</button>
                                </form>
                            <% } %>
                        </div>
                        <h3 style="text-align: center;">Add new user</h3>
                        <div class="addNew">
                            <form action="/registerUser" method="post">
                                <input class="form-control border-dark mb-2" type="text" name="username" placeholder="Enter username">
                                <input class="form-control border-dark mb-2" type="text" name="password" placeholder="Enter password">
                                <select class="form-control border-dark mb-3" name="role" id="role" required>
                                    <option hidden disabled selected value>(Select a Role)</option>
                                    <option value="sales">Sales Person</option>
                                    <option value="staff">Staff</option>
                                    <option value="manager">Manger</option>
                                    <option value="admin">Administrator</option>
                                </select>
                                <button class="btn btn-success" type="submit">Add a new user <i class="fas fa-plus"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="expenses hidden dashboardForm" id="">
                        <h3 style="text-align: center;">Add new expense</h3>
                        <div class="addNew">
                            <form action="/addExpenses" method="post">
                                <input class="form-control border-dark mb-2" type="number" name="amount" placeholder="Enter the amount" required>
                                <input class="form-control border-dark mb-2" type="text" name="description" placeholder="Enter a description" required>
                                <input type="hidden" class="form-control border-dark mb-3" type="number" name="userId" value=<%= locals.user && user.id %>>
                                <button class="btn btn-success mb-2" type="submit">Save Expense</button>
                            </form>
                            <a href="/allExpenses">See all Expenses</a>
                        </div>
                    </div>
                    <div class="customers-form hidden dashboardForm" id="">
                        <h3 style="text-align: center;">Edit Customer Details</h3>
                        <div class="edit">
                            <form action="/editCustomer" method="post">
                                <select class="form-control border-dark mb-2" name="customerId" id="customer" required>
                                    <option hidden disabled selected value>(select an option)</option>
                                    <option value="test">test</option>
                                </select>
                                <input class="form-control border-dark mb-2" type="text" name="name" placeholder="Change the customer's name">
                                <input class="form-control border-dark mb-2" type="number" name="phone" placeholder="Change the customer's Phone number">
                                <input class="form-control border-dark mb-2" type="text" name="address" placeholder="Change the customer's address">
                                <input class="form-control border-dark mb-3" type="email" name="email" placeholder="Change the customer's email">
                                <button class="btn btn-success" type="submit">Update</button>
                            </form>
                        </div>
                        <h3 style="text-align: center;">Add new Customer</h3>
                        <div class="addNew">
                            <form action="/addNewCustomer" method="post">
                                <input class="form-control border-dark mb-2" type="text" name="name" placeholder="Change the customer's name">
                                <input class="form-control border-dark mb-2" type="number" name="phone" placeholder="Change the customer's Phone number">
                                <input class="form-control border-dark mb-2" type="text" name="address" placeholder="Change the customer's address">
                                <input class="form-control border-dark mb-3" type="email" name="email" placeholder="Change the customer's email">
                                <button class="btn btn-success" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                    <div class="units-form hidden dashboardForm" id="">
                        <h3 style="text-align: center;">Edit Unit</h3>
                        <div class="edit">
                            <form action="/editUnit" method="post">
                                <select class="form-control border-dark mb-2" name="unitId" id="unit" required>
                                    <option hidden disabled selected value>(select an option)</option>
                                    <option value="test">test</option>
                                </select>
                                <input class="form-control border-dark mb-3" type="text" name="unit" placeholder="Change the unit name">
                                <button class="btn btn-success" type="submit">Update</button>
                            </form>
                        </div>
                        <h3 style="text-align: center;">Add new Unit</h3>
                        <div class="addNew">
                            <form action="/addNewUnit" method="post">
                                <input class="form-control border-dark mb-3" type="text" name="unit" placeholder="Enter new unit">
                                <button class="btn btn-success" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                    <div class="categories-form hidden dashboardForm" id="">
                        <h3 style="text-align: center;">Edit Category</h3>
                        <div class="edit">
                            <form action="/editCategory" method="post">
                                <select class="form-control border-dark mb-2" name="categoryId" id="category">
                                    <option hidden disabled selected value>(select an option)</option>
                                    <option value="test">test</option>
                                </select>
                                <input class="form-control border-dark mb-3" type="text" name="category" placeholder="Change the category name">
                                <button class="btn btn-success" type="submit">Update</button>
                            </form>
                        </div>
                        <h3 style="text-align: center;">Add new Category</h3>
                        <div class="addNew">
                            <form action="/addNewCategory" method="post">
                                <input class="form-control border-dark mb-3" type="text" name="category" placeholder="Enter new category">
                                <button class="btn btn-success" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                    <div class="suppliers-form hidden dashboardForm" id="">
                        <h3 style="text-align: center;">Edit Supplier</h3>
                        <div class="edit">
                            <form action="/editSupplier" method="post">
                                <select class="form-control border-dark mb-2" name="supplierId" id="supplier">
                                    <option hidden disabled selected value>(select an option)</option>
                                    <option value="test">test</option>
                                </select>
                                <input class="form-control border-dark mb-3" type="text" name="supplier" placeholder="Change the supplier name">
                                <button class="btn btn-success" type="submit">Update</button>
                            </form>
                        </div>
                        <h3 style="text-align: center;">Add new Supplier</h3>
                        <div class="addNew">
                            <form action="/addNewSupplier" method="post">
                                <input class="form-control border-dark mb-3" type="text" name="supplier" placeholder="Enter new supplier">
                                <button class="btn btn-success" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                    <div class="companies-form hidden dashboardForm" id="">
                        <h3 style="text-align: center;">Edit Supplier</h3>
                        <div class="edit">
                            <form action="/editCompany" method="post">
                                <select class="form-control border-dark mb-2" name="companyId" id="company">
                                    <option hidden disabled selected value>(select an option)</option>
                                    <option value="test">test</option>
                                </select>
                                <input class="form-control border-dark mb-3" type="text" name="company" placeholder="Change the company name">
                                <button class="btn btn-success" type="submit">Update</button>
                            </form>
                        </div>
                        <h3 style="text-align: center;">Add new Supplier</h3>
                        <div class="addNew">
                            <form action="/addNewCompany" method="post">
                                <input class="form-control border-dark mb-3" type="text" name="company" placeholder="Enter new company">
                                <button class="btn btn-success" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-6 mx-auto px-0 d-lg-flex justify-content-around mb-3">
                <div class="row">
                    <div class="card px-0" style="width: 18rem;">
                        <div class="card-header">
                          Recent Transactions
                        </div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="table-dark">
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(locals.recentSales){ %>
                                    <%recentSales.forEach((sales) => { %>
                                <tr>
                                    <td><%= sales.name %></td>
                                    <td><%= sales.quantity_change %></td>
                                    <td><%= Math.abs(sales.quantity_change * sales.unit_selling_price) %></td>
                                    <td><%= sales.change_type %></td>
                                </tr>
                                <%}) } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="row mb-2">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                              Users
                            </div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr class="table-dark">
                                        <th>Name</th>
                                        <th>Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if(locals.users){%>
                                    <% users.forEach((user) => { %>
                                    <tr>
                                        <td><%= user.username %></td>
                                        <td><%= user.role %></td>
                                    </tr>
                                <% })} %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                              Debtors
                            </div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr class="table-dark">
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2024-01-01</td>
                                        <td>$100.00</td>
                                        <td>John Doe</td>
                                    </tr>
                                    <tr>
                                        <td>2024-01-02</td>
                                        <td>$250.00</td>
                                        <td>Jane Smith</td>
                                    </tr>
                                    <tr>
                                        <td>2024-01-03</td>
                                        <td>$75.00</td>
                                        <td>Bob Johnson</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                              Purchases
                            </div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr class="table-dark">
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(locals.recentPurchases){ %>
                                    <% recentPurchases.forEach((purchaseItem) => { %>
                                    <tr>
                                        <td><%= purchaseItem.name %></td>
                                        <td><%= purchaseItem.quantity_purchased %></td>
                                        <td><%= purchaseItem.purchase_date %></td>
                                    </tr>
                                    <% }) } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <footer> 
        <div class="dev">
            <p>Powered by ShopKeeper 👨‍💻 Tel: 08137328131</p>
        </div>
    </footer>
    <script src="./dom/dashboardDom.js" type="text/javascript"></script>
</body>
</html>