<%- include("./partials/header.ejs") %>
    <main class="salesMain">
        <div class="flash-message">
            <p class="success-msg"><%= success_msg %></p>
            <p class="failure-msg"><%= failure_msg %></p>
        </div>
        <!-- Name, filter parameters are entered to perform a search -->
        <div class="searchFilters mb-3">
            <form class="bg-primary" action="/searchTransactions" method="post">
                <button class="btn btn-dark col-2" type="submit">Search <i class="fa-solid fa-search"></i></button>
                <div>
                    <label for="startDate">Start Date:</label>
                    <input id="startDate" class="form-control border-dark" type="date" name="startDate" required>
                </div>
                <div>
                    <label for="endDate">End Date:</label>
                    <input id="endDate" class="form-control border-dark" type="date" name="endDate" required>
                </div>  
                <div class="col-3">
                    <label for="transactionType">Transaction Type:</label>
                    <select class="form-control border-dark" name="transactionType" id="transactionType">
                        <option hidden disabled selected value>(Select a Transaction type)</option>
                        <option value="all">All Types</option>
                        <option value="Sales">Sales</option>
                        <option value="Return">Return</option>
                        <option value="Purchase">Purchase</option>
                        <option value="Adjustment">Manual Adjustment</option>
                        <option value="OfficeUse">Office Use</option>
                        <option value="Damaged">Damaged</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="selectUser">User:</label>
                    <select class="form-control border-dark" name="userId" id="selectUser">
                        <option hidden disabled selected value>(Select a User)</option>
                        <option value="all">All Users</option>
                        <% if(locals.users){ %>
                        <% users.forEach((user) => { %>
                        <option value="<%= user.id %>"><%= user.username %></option>
                        <% }) %>
                        <% } %>
                    </select>
                </div>
            </form>
        </div>
        <div class="item-list-table ">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr class="table-dark">
                    <th scope="col" class="col-lg-4">Item</th>
                    <th scope="col" class="col-lg-1">Trans.Type</th>
                    <th scope="col" class="">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col" class="col-lg-1">Total Price</th>
                    <th scope="col" class="">Discount</th>
                    <th scope="col" class="">Pay Route</th>
                    <th scope="col" class="col-lg-1">Customer</th>
                    <th scope="col" class="">Unit</th>
                    <th scope="col" class="col-lg-1">Trans.Date</th>
                    <th scope="col" class="col-lg-1">User</th>
                  </tr>
                </thead>
                <tbody>
                    <% if(locals.contents){ %>
                    <% contents.map((content, index) => { %>
                    <tr class="item-row">
                        <td><%= content.product_name %></td>
                        <td><%= content.change_type %></td>
                        <td><%= content.quantity_change %></td>
                        <td><%= content.selling_price_per_unit %></td>
                        <td><%= content.gross_revenue_impact %></td>
                        <td><%= content.sale_discount %></td>
                        <td>Pay route</td>
                        <td>Customer</td>
                        <td>Unit</td>
                        <td><%= new Date(content.transaction_date).toISOString().slice(0, 10) %></td>
                        <td><%= content.transacted_by %></td>
                    </tr>
                    <% }) %>
                    <% }else if(locals.message){ %>
                        <tr>
                            <td colspan="11" class="text-center"><%= message %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="d-flex justify-content-around align-items-center bg-dark text-white p-3">
                <% if(locals.totalSalesRevenue) { %>
                <div>
                    <p class="mb-0">Total Sales Revenue: <%= totalSalesRevenue %></p>
                </div>
                <div>
                    <p class="mb-0">Total Discount Given: <%= totalDiscount %></p>
                </div>
                <% } %>
                <div></div>
            </div>
        </div>
    </main>

<%- include("./partials/footer.ejs") %>